[Unit]
Description=Kairos k3s Before Hook
Before=k3s.service

[Service]
Type=oneshot
# provider-kairos.bootstrap.before.k3s is run when k3s is up
ExecStart=kairos-agent run-stage provider-kairos.bootstrap.before.k3s

[Install]
# Make sure this is wanted by k3s
WantedBy=k3s.service
